# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
.pytest_cache/
.coverage
.mypy_cache/
.ruff_cache/

# Environment
.env
.env.local
*.key

# Data
data/
*.parquet
*.csv

# IDE
.vscode/
.idea/
*.swp

# Docker
.docker-volumes/

# OS
.DS_Store
Thumbs.db

# Spark / Hadoop
spark-warehouse/
metastore_db/
derby.log

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/